################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JetBlack.Network/bin/Debug
/JetBlack.Network/obj/Debug
*.suo
/packages
/JetBlack.Examples.Common/obj/Debug
/JetBlack.Examples.RxSocket.EchoClient/bin/Debug
/JetBlack.Examples.RxSocket.EchoClient/obj/Debug
/JetBlack.Examples.RxSocket.EchoServer/bin/Debug
/JetBlack.Examples.RxSocket.EchoServer/obj/Debug
/JetBlack.Examples.RxSocketSelect.EchoClient/bin/Debug
/JetBlack.Examples.RxSocketSelect.EchoClient/obj/Debug
/JetBlack.Examples.RxSocketSelect.EchoServer/bin/Debug
/JetBlack.Examples.RxSocketSelect.EchoServer/obj/Debug
/JetBlack.Examples.RxSocketStream.EchoClient/bin/Debug
/JetBlack.Examples.RxSocketStream.EchoClient/obj/Debug
/JetBlack.Examples.RxSocketStream.EchoServer/bin/Debug
/JetBlack.Examples.RxSocketStream.EchoServer/obj/Debug
/JetBlack.Examples.RxTcp.EchoClient/bin/Debug
/JetBlack.Examples.RxTcp.EchoClient/obj/Debug
/JetBlack.Examples.RxTcp.EchoServer/bin/Debug
/JetBlack.Examples.RxTcp.EchoServer/obj/Debug
