################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JetBlack.Network/bin/Debug
/JetBlack.Network/obj/Debug
*.suo
/packages
